/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

//input[type=text] {
//  border: 1px solid #9e9e9e;
//}

.container {
  margin: 1.5em;
}

.block {
  padding: 3em 0 0;
}
@media(max-width: 720px) {
  .container {
    margin: 0.8em;
  }
}

.footer {
  background-color: #FFF;
  border: 1px solid #d4d4d5;
  border-radius: 0.3125rem 0.3125rem 0em 0em;
  margin: 1.5em 1.5em 0 1.5em;
  .footer-inner {
    padding: 1em 1em 5em;
  }
}
